<div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Profielen</a></li>
        <li role="presentation"><a href="#">Camera's</a></li>
        <li role="presentation"><a href="#">Account instellingen</a></li>
        <hr/>
        <li role="presentation"><a href="#">Help</a></li>
    </ul>
</div>